{% extends "base.html" %}

{%- block extrahead %}
    <base target="_blank">
{%- endblock %}

{%- block site_name %}
    <a class="navbar-brand" href="{{ nav.homepage.url|url }}" target="_self">{{ config.site_name }}</a>
    <a class="navbar-brand" href="{{ nav.homepage.url|url }}" target="_self"> <img style="height: 40px; margin: 0px; padding: 0px;" src="/website_fr/img/CFFDRS_Black_4.png" alt="CFFDRS logo"> </img> </a>
{%- endblock %}

{%- block site_nav %}
    {%- if nav|length>1 %}
        <!-- Main navigation -->
        <ul class="nav navbar-nav">
        {%- for nav_item in nav %}
        {%- if nav_item.children %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle{% if nav_item.active %} active" aria-current="page{% endif %}" role="button" data-bs-toggle="dropdown"  aria-expanded="false" target="_self">{{ nav_item.title }}</a>
                <ul class="dropdown-menu">
                {%- for nav_item in nav_item.children %}
                    {% include "nav-sub.html" %}
                {%- endfor %}
                </ul>
            </li>
        {%- else %}
            <li class="nav-item">
                <a href="{{ nav_item.url|url }}" class="nav-link{% if nav_item.active %} active" aria-current="page{% endif %}" target="_self">{{ nav_item.title }}</a>
            </li>
        {%- endif %}
        {%- endfor %}
        </ul>
    {%- endif %}
{%- endblock %}

{%- block next_prev %} {%- endblock %}

{%- block content %}
    <!-- Construction Sign -->
    <style>
        div.construction p {
            text-align: center;
            font-family: Times;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
        }
    </style>

    <div class="construction">
        <p>Le site Web est toujours en développement. Les problèmes ou commentaires peuvent être envoyés à <a href="mailto:kevin.siu@nrcan-rncan.gc.ca" target="_self">kevin.siu@nrcan-rncan.gc.ca</a></p>
    </div>
    <div class="col-md-3">{% include "toc_self.html" %}</div>
    <div class="col-md-9" role="main">{% include "content.html" %}</div>
{%- endblock %}
